Cython
contextlib2
jupyter
matplotlib
Pillow
opencv-python
pytesseract
pandas
pylint
tf-slim
scipy
pydot
graphviz
tqdm
autopep8
segmentation-models
pdf2image
nltk
pyyaml
inflect
zipfile38
Shapely
Rtree
fpdf
tensorflowjs
Django
celery
redis
celery-progress